.biman_icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0%;
    background-color: whitesmoke;
}
.h3-1 {
    margin-top: 0%;
    margin-bottom: 0%;
}
.h3-2{
    margin-top: 0%;
}
.time{
    margin-top: 15%;
    text-align: center;
}

.line1{
    padding-top: 1%;
    color: rgb(112, 238, 196);
}

.time2{
    text-align: center;
    
}
