.text{
  text-align: right;
}
.jfk-d {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.jfk-d p {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
}
#time-j {
    text-align: right;
  color: rgb(75, 238, 184);
}
.Bag {
  margin-top: 53%;
}
